* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fa-ul {
    margin-left: 20px;
}

/* float */

.square,
.float-l {
    float:left
}

.float-r {
    float:right
}

/* width */

.width-30 {
    width: 30%;
}

.width-36 {
    width: 36%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-53 {
    width: 53%;
}

.width-60 {
    width: 60%;
}

#width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}


.width-100 {
    width: 100%;
}

/* margin */

.mar-l {
    margin-left: 10px;
    height: 100%;
}

.mar-button-hd {
    margin: 30px 0 10px 0;
}


.marg-l-30 {
    margin-left: 30px;
}

.mar-bottom-10 {
    margin-bottom: 10px;
}

.mar-bottom-20 {
    margin-bottom: 20px;
}

.mar-bottom-30 {
    margin-bottom: 30px;
}

.mar-bottom-40 {
    margin-bottom: 40px;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-top-40 {
    margin-top: 40px;
}

.mar-top-50 {
    margin-top: 50px;
}

.mar-top-150 {
    margin-top: 150px;
}

/* padding */

.pad-40 {
    padding: 40px;
}

.pad-l-30 {
    padding-right: 30px;
}

.pad-int-10 {
    padding:10px
}

.pad-int-30 {
    padding:40px
}

/* img */
.mar-l img {
    vertical-align: sub;
}

/* display */
.dib {
    display: inline-block;
}


/* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: white;
}

nav div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 35px;
}

nav div ul li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 100%;
}


button {
    padding: 10px 20px ;
    background-color:#0061ff;
    color: white;
    border: 0;
}


button:hover {
    color: black;
    cursor: pointer;
    box-shadow: 5px 5px;
}

nav div ul li a:hover {
    border-bottom: 2px solid blue;
}



/* header */

header {
    height: 700px;
    background-color: #b4d0e7;
}

.hide-container {
    width: 80%;
    margin:auto;
    height: 70px;
}

.jumbo-container {
    width: 80%;
    margin: 40px auto;
}


.col-sx-hd {
    padding-right: 117px;
}

.hd-button {
    background-color:#0061ff;
    padding: 10px;
    color: white;
}

header .jumbo-container .float-l img {
    width: 100%;
}

/* h title */

h1 {
    font-size: 4.3em;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

/* icon */

.fas.fa-arrow-down {
    font-size: 2.5em;
    margin-top: 30px;
    color: black;
}

/* main */

.container-main {
    width: 70%;
    margin: 100px auto 0px
}

.container-main h2 {
    font-size: 2.7em;
}


 input {
     margin: 40px 0 20px 0;
     height: 3em;
     width: 20px;
     vertical-align: -90%;
 }

 /* col main */

 .col-main {
     width: calc(100% / 3 - 34px);
 }


 .marg-md {
     margin: 0 50px;
 }

 .icon-main {
     text-align: center;
     padding: 10px 0;
 }

 .border-col {
    border: 1px solid lightgrey;
 }
 
 .text-col {
     margin: 30px ;
     height: 1000px;
 }

 ul li {
     list-style: none;
 }
 
 
 /* colori */
 
.c-grey {
    color: #657583 ;
    }

.c-blue {
     color: #498eff;
}

.c-white {
    color: white;
}


/* background-color */

.bc-lightgreen {
     background-color: #d0e9cd
    ;
}

.bc-brown {
    background-color: #61082b
    ;
 }

    .bc-lightblue {
        background-color: #0093ce
        ;
    }

    .bc-tomato {
        background-color: #ff1c1c
        ;
    }

    .bc-darkred {
        background-color: #d5001f
        ;
    }

    .bc-azure {
        background-color: #b4d0e7
        ;
    }

    .bc-darkblue {
        background-color:#0d2481
        ;
    }

    .bc-yellow {
        background-color: #ffd830

        ;
    }


    
    /* font size e weight */

    .font-s-09 {
        font-weight: 600;
        font-size: 0.9em;
    }

    .mar-bottom-40 ul li {
        margin-bottom: 20px;
    }

    /* bar line */

    .bar-20 {
        width: 20%;
        border-top: 1px solid black;
    }

    /* li check-col  */

    .check-col ul li {
        margin-bottom: 20px;
    }

    .check-col ul li i{
        color: #498eff;
    }


    /* col bottom */

    .marg-bot-col {
        margin: 25px ;
    }

    .h4-col-bot {
        margin: 20px 0 30px 0 ;
        font-size: 1em;
        font-weight: 800;
    }

    .marg-bot-col p {
        margin-bottom: 30px;
    }

    /* partner col */
    .container-main .pad-partner p {
        line-height: 30px;
        margin-bottom: 30px;
    }

    .pad-partner {
        padding: 40px 80px 40px 40px;
    }

    #but-partner {
        color: black;
        background-color: white;
        border: 1px solid black;
    }

    /* business margin */

    .marg-bus-center {
        margin: 50px 50px 0;
    }   

    /* designit */

    .square {
        width: 50%;
        height: 220px;
    }

    .square-int {
        background-color: #a2d39b
        ;
        width: 100%;
        height: 100%;
    }

    .square img {
        filter: invert(100%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 50%;
    }

    .p-relative
     {
        position: relative;
    }

    