nav {
    position: fixed;
}

/* float */

.float-l {
    float:left
}

.float-r {
    float:right
}

/* width */

.width-35 {
    width: 40%;
}

nav div ul li {
    display: inline-block;
    list-style-type: none;
}